.calculator {
    background-color: #EAEAEA;
    padding: 0 10;
}
.main-shadow{
    webkit-box-shadow: inset 0px -4px 2px 10px rgb(208, 208, 208);
    -moz-box-shadow: inset 0px -4px 2px 10px rgb(208, 208, 208);
    box-shadow: inset 0px -4px 2px 10px rgb(208, 208, 208);
    border-radius: 16px;
}
.second-div
{
    width: 329px;
    height: 544px;
}